*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}
ol,ul {
    list-style: none;
    text-decoration: none;
}
header{
    display: block;
}

body {
    background-color:white;
    background-size: cover;
    padding: 10px;
    display:flex;
    flex-direction: column;
    row-gap: 1em;
  
 
   min-height: 100%;

}


main, footer {
    width: 900px;
    justify-content: center; 
    align-items: center; 
    font-size: 1em;
    row-gap: 0.5em;
    
}
#aviso {
    margin-top: 10px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
   
  }

 #mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
#mainMenu li {
    margin-top: 1em;
}
input:invalid {
  border: 1px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 1px solid black;
}
/*
#segMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}*/
#intro {
    display: block;
    margin: auto;
    
}
#intro p{
    margin-bottom: 1em;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer #segMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: small;
}

section#formulario {
    background-color: rgb(216, 192, 155);
}
#volver{
    display: block;
    margin:  1em;
}
#btn-confirmar {
    margin-top: 1em;
    margin-bottom: 2em;
    background-color:rgba(37, 150, 190) ;
    border-radius: 0.5em;
    color: #ffdddd;
    width: 10em;
    height: 2.5em;
}
#contenedorTabla{
  
  margin-top: 1em;
 
  }
table{
   
    border-collapse: collapse;
    border-radius: .35em;
    border: 2px solid #2596be;
    border-top-width: 2px;
border-top-style: solid;
border-top-color: #2596be;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #2596be;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #2596be;
border-left-width: 2px;
border-left-style: solid;
border-left-color:#2596be;
}
form p {
    margin-bottom: 1em;
}
  
td, th {
  border: 1px solid #2596be;

  padding: 0.85rem 0.5rem;
}

/*Medidas responsivas*/
 @media (max-width:600px) {
   h1{
    text-align: center;
   }   
   
   body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #mainMenu {
    text-align: center;
   }
   main,footer {
    width: 100%;
   }
    header img {
      width: 100%;;
    }
    footer img {
        width: 100%;
    }
    footer #segMenu {
   flex-direction: column;
   row-gap: 1em;
}
div#contenedorTabla{
   overflow-x: auto;
   width: 100%;
}
    button,
label,
input
    {

  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

}
/*escritorio*/
@media only screen and (min-width:1000px) {
   body {

    justify-content: center;
    align-items: center;
   }
 input#enviar{
    width: 10em;
    height: 2.5em;
 }  
label,
input,button
    {

  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

}
  
